body {
}

div.footer {
    background-color: darkgreen;
    text-align: right;
    color: white;
}

div.questionnaire {
    background-color: green;
    padding-bottom: 2em;
    width: 820px;
    margin: auto;
}

div.questionOptionsWrapper {
    text-align: center;
    width: 100%;
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 5px;
    margin: 1px 1px 10px 1px;
    text-align: center;
}

    a.question-option {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
        color: white;
        text-decoration: none;
        width: 80px;
        display: inline-block;
        border: 2px solid white;
        padding: 20px;
        text-align: center;
    }

div.questionImage {
    padding: 20px;
    width: 680px;
    height: 480px;
    margin: auto auto;
}

img {
    max-width: 700px;
    max-height: 500px;
    margin: 0 auto;
    display: block;
}
