@inherits Umbraco.Web.Mvc.UmbracoViewPage<Agouti.Web.Models.HomePageModel>
@{
    Layout = "Master.cshtml";
}
<div class="questionnaire">
    <div class="questionImage">
        <img src="@Model.QuestionImageUriString" alt="@Model.QuestionImageUriString" />
    </div>
    <div class="questionOptionsWrapper">
        <ul>
            @foreach (var questionOption in Model.QuestionOptions)
            {
                <li><a href="#">@questionOption</a></li>
            }
        </ul>
    </div>
</div>