body{
    background-color: rgb(56, 56, 56); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
* {
    margin: 0;
    padding: 0;
}
canvas {
    display: inline;
}

.center {
    width: 100%;

    border: 5px solid #ffff90;
}

.center-div {
    width: 30%;
    margin: auto;

}



.canvas-container {
    width: 80%;
    margin: auto;

}
.top{
    

}

.container1{
    border-radius: 20px;
    background-color: rgb(255, 189, 164);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    margin: 3px;
    padding:1em;

}
.container2{
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-width:1px;
    margin: 3px;
    padding: 1em;
    
}
.flex-container{
    display:flex;

}
.flex-child{
    flex:1;

}



